<div class="container">
  <h1>List of all transaction</h1>



  <button data-toggle="collapse" class="btn btn-primary" data-target="#demo">Advance Search</button>

  <div id="demo" class="collapse">




    <form class="form-inline" [formGroup]="searchForm" (ngSubmit)="onSubmit()">    <!-- [formGroup]="searchForm" (ngSubmit)="onSubmit()" -->

      <!-- <div class="form-group">
        <label class="sr-only" for="">label</label>
        <input type="email" class="form-control" formControlName=""  placeholder="Input field">
      </div> -->

      <div class="form-group">
        <label class="sr-only" for="">Choose to get a record</label>
        <div class="radio">
          <label>
            <input type="radio" (change)="selected('Current')" formControlName="category" value="Current" checked="checked">
            Current
          </label>
          <label>
            <input type="radio" (change)="selected('Monthly')" formControlName="category" value="Monthly">
            Monthly
          </label>
          <label>
            <input type="radio" (change)="selected('Periodicaly')" formControlName="category" value="Periodicaly">
            Periodicaly
          </label>
        </div>
      </div>



      <!-- please choose month -->
      <div class="form-group" *ngIf="showMonth">
        <label class="sr-only" for="">label</label>
        <select name="" id="input" class="form-control" formControlName="spendCategoryId">
          <option [value]="month.monthId" *ngFor="let month of months">{{month.monthNm}}</option>
        </select>
      </div>

      <!-- please select date range  -->
      <div *ngIf="showPeriodic">
        <div class="form-group">
            <label class="sr-only" for="">From:</label>
            <input type="date" name="From" id="inputFrom" class="form-control" value="" required="required" title="">

        </div>

        <div class="form-group">
            <label class="sr-only" for="">To:</label>

            <input type="date" name="From" id="inputFrom" class="form-control" value="" required="required" title="">

        </div>
      </div>




      <div class="form-group">
        <label class="sr-only" for="">label</label>
        <select name="" id="input" class="form-control" formControlName="spendCategoryId">
          <option [value]="cat.spendCategoryId" *ngFor="let cat of spendingCategory">{{cat.spendCategoryName}}</option>
        </select>
      </div>

      <hr>
      <button type="submit" class="btn btn-primary">Search</button>
      <p> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>








    </form>

  </div>

  <!-- {{allTransactions | json}} -->
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Description</th>
        <th>Amount</th>
        <th>Date</th>
        <th>paymentType</th>
        <th>Spend Category Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tran of allTransactions; let i=index">
        <td>{{i+1}}</td>
        <td>{{tran.transactionDescription}}</td>
        <td>{{tran.amount}}</td>
        <td>{{tran.date | date}}</td>
        <td>{{tran.paymentType}}</td>
        <td>{{tran.spendCategoryName}}</td>
      </tr>
    </tbody>
  </table>

</div>



<form action="" method="POST" class="form-inline" role="form">

  <div class="form-group">
    <label class="sr-only" for="">label</label>
    <input type="email" class="form-control" id="" placeholder="Input field">
  </div>



  <button type="submit" class="btn btn-primary">Submit</button>
</form>
